
.btn1 {
  border-radius: 0.625rem;
  border: 2px solid #5c27c0;
  display: flex;
  width: 8.0625rem;
  height: 2.75rem;
  padding: 0.875rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn2 {
  all: unset;
  align-items: center;
  background-color: #5c27c0;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 16px;
  height: 44px;
  justify-content: center;
  padding: 14px 24px;
  position: relative;
}

.btn2 .text2 {
  color: #ffffff;

  text-align: center;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn1 .text1 {
  color: #5c27c0;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.navbar-nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 2rem;
}

.root {
  height: 2.5rem;
}

.nav-item {
  color: #8e8e8e;

  text-align: center;
  font-family: "Poppins-Regular" Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
  
  @media screen and (max-width: 1024px) {
    
  }
  
  @media screen and (max-width: 990px) {
   
    
  }
  
  @media screen and (max-width: 768px) {
    
  }
  
  @media screen and (max-width: 450px) {
   
    
  }
  